.layout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.layout main {
  flex: 1;
  min-height: calc(100vh - 5rem);
  padding-bottom: 2rem;
}

/*-----------------------------------------NAVBAR-----------------------------------------------------------------------------*/

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 5rem;
    padding: 1rem 6%;
    position: sticky;
    top: 0;
    z-index: 1000;
    background: linear-gradient(
        to top,
        var(--color-bg-2),
        var(--color-bg)
    );
    transition: all 0.3s ease;
}

.navbar-scrolled {
    background-color: #e8d4bc;
    box-shadow: 0 4px 20px rgba(0,0,0,0.08);
    backdrop-filter: blur(8px);
}
    
.nav-right {
    display: flex;
    align-items: center;
    gap: 2rem;
}

.nav-links {
    display: flex;
    align-items: center;
    font-size: 1.1rem;
    font-weight: bold;
    gap: 2rem;
}

.nav-links button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: var(--color-primary);
    font-weight: 700;
    cursor: pointer;
    position: relative;
}

.nav-links a,
.nav-links button {
    text-decoration: none;      /* quita subrayado */
    color: var(--color-primary);
    font-weight: 700;
    position: relative;
    transition: color 0.2s ease;
}

.nav-links a::after,
.nav-links button::after,
.cart-button::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0%;
    height: 2px;
    background-color: var(--color-secondary-2);
    transition: width 0.3s ease;
}

.nav-links a:hover::after,
.nav-links button:hover::after,
.cart-button:hover::after {
    width: 100%;
}

.nav-links button.active,
.nav-links a.active,
.cart-button.active {
  color: var(--color-secondary-2);
}

.menu-toggle {
    display: none;
    flex-direction: column;
    justify-content: center;
    gap: 6px;
    width: 30px;
    height: 30px;
    background: none;
    border: none;
    cursor: pointer;
}

.menu-toggle span {
  display: block;
  height: 3px;
  width: 100%;
  background-color: var(--color-primary);
  border-radius: 3px;
  transition: all 0.3s ease;
}

.menu-toggle.open span:nth-child(1) {
    transform: rotate(50deg) translate(5px, 5px) scalex(2);
}

.menu-toggle.open span:nth-child(2) {
    opacity: 0;
}

.menu-toggle.open span:nth-child(3) {
    transform: rotate(-50deg) translate(6px, -6px) scalex(2);
}

@media (max-width: 768px) {

    .nav-links {
        position: absolute;
        top: 5rem;
        right: 0;
        width: 100%;
        background-color: #e8d4bc;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        padding: 0;
        max-height: 0;
        overflow: hidden;
        opacity: 0;
        transition: all 0.4s ease;
    }

    .nav-links.open {
        padding: 2rem 0;
        max-height: 500px;
        opacity: 1;
    }

    .menu-toggle {
        display: flex;   /* <-- CAMBIO CLAVE */
    }
}

.nav-logo {
    display: flex;
    align-items: center;
    justify-content: left;
    height: 50px;
    width: auto;
    padding-top: 0.5rem;
    cursor: pointer;
}

.nav-logo img {
    height: 100%;
    width: auto;
}

.cart-button {
  display: flex;
  position: relative;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);
  text-decoration: none;
  font-size: 1.1rem;
  height: 100%;
}

.cart-button svg {
  position: block;
}

.cart-badge {
  position: absolute;
  top: -8px;
  right: -12px;
  background: var(--color-secondary-2);
  color: white;
  font-size: 12px;
  font-weight: 600;
  border-radius: 50%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  padding: 2px 6px;
  animation: badgePop 0.3s ease;
}

.pop {
  animation: badgePop 0.3s ease;
}

@keyframes badgePop {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.6);
  }
  100% {
    transform: scale(1);
  }
}


/*--------------------------------------------------FOOTER------------------------------------------------------------------*/

.footer {
  background: linear-gradient(
    to top,
    #4a240a,
    var(--color-primary)
  );
  color: white;
  padding: 3rem 2rem 2rem 2rem;
  text-align: center;
}

.footer::before {
  content: "";
  position: absolute;
  top: 2rem;
  left: 50%;
  transform: translateX(-50%);
  width: 80px;
  height: 2px;
  background-color: var(--color-secondary-2);
  opacity: 0.6;
}

.footer-content h3 {
  font-size: 1.8rem;
  margin-bottom: 2rem;
  font-weight: 500;
  opacity: 0;
  transform: translateY(10px);
  transition: all 0.8s ease;
}

.footer.show .footer-content h3 {
  transform: translateY(0);
  opacity: 1;
}

.footer-icons {
  display: flex;
  justify-content: center;
  gap: 3rem;
  font-size: 2rem;
  margin-bottom: 2rem;
}

.footer-icons a {
  color: white;
  transition: all 0.25s ease;
  transform: scale(0.8);
  opacity: 0;
}

.footer.show .footer-icons a {
  animation: fadeScaleIn 0.6s ease forwards;
}

@keyframes fadeScaleIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.footer-icons a:hover {
  color: var(--color-secondary-2);
  transform: translateY(-4px) scale(1.1);
  transition-delay: 0s;
}

.footer.show .footer-content h3 {
  transition-delay: 0.2s;
}

.footer.show .footer-icons a:nth-child(1) {
  animation-delay: 0.2s;
}

.footer.show .footer-icons a:nth-child(2) {
  animation-delay: 0.4s;
}

.footer.show .footer-icons a:nth-child(3) {
  animation-delay: 0.6s;
}

.footer.show .footer-icons a:nth-child(4) {
  animation-delay: 0.8s;
}

.footer-copy {
  font-size: 0.9rem;
  opacity: 0.7;
}

@media (max-width: 768px) {
  .layout main {
    min-height: calc(100vh - 5rem);
  }
  
  .footer-icons {
    gap: 1.5rem;
    font-size: 1.6rem;
  }
}